<div class="main-container">
  <h1>Demo <small>Angular</small></h1>
  <hr>
  <app-ng-style></app-ng-style>

  <hr class="mt-5">
  <app-css></app-css>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores sed repellat magni illum provident maxime quae
    cupiditate laudantium sint! Quis voluptatum enim fuga a architecto hic. Rerum possimus impedit suscipit.
    Veritatis suscipit voluptatem tempore laudantium minus ipsa blanditiis autem illum placeat cupiditate enim, sunt
    error dolor asperiores ducimus, pariatur cum porro natus beatae consequuntur? Quaerat modi cumque ex possimus
    necessitatibus?
    Aliquid perferendis aspernatur sapiente nulla veritatis dolorem explicabo beatae incidunt! Accusamus recusandae
    natus et illum deserunt eos, delectus dolor blanditiis voluptatum, facere, cupiditate ut! Quidem reiciendis ullam
    quibusdam assumenda quaerat.</p>

  <hr class="mt-5">
  <app-ng-class></app-ng-class>

  <hr class="mt-5">
  <p [appHighlight]="'orange'">Hola Mundo</p>
</div>